@theme {
  /* FONT SIZE */
  --text-xxs: 0.5rem; /* 8px */
  --text-2xs: 0.625rem; /* 10px */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px*/
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.75rem; /* 28px */
  --text-4xl: 2rem; /* 32px */
  --text-5xl: 2.25rem; /* 36px */
  --text-6xl: 2.5rem; /* 40px */
  --text-7xl: 3rem; /* 48px */
  --text-8xl: 4.5rem; /* 72px */
}
